*{margin:0;padding:0;}
.my_header,.my_footer{width:100%;}

@media (min-width:992px) {
    .my_header{height:9rem;}
    .my_footer{height:18rem;}
}
@media (min-width:576px) and (max-width:991px) {
    .my_header{height:9rem;}
    .my_footer{height:18rem;}