.imgs{
    width:1200px;
    height:600px;
}


.carousel-control-prev,
.carousel-control-next{
    width:4%;height:20%;top:40%;
    background-color:#aaa;border-radius:0.25rem;
}
.carousel-indicators li{
    width:0.8rem;height:0.8rem;
    background:#fff;
    border-radius:50%;
    margin-right:6px;
    margin-left:6px;
}
.carousel-indicators .active{
    background: #0aa1ed;
    border-radius:0.25rem;
}
.img_2{
    width:1200px;
}
.decs-title{
    background-color:#e8e8e8;}
.title_1{font-size:20px;}


.decs{font-size:20px;}

.f_size{font-size:16px;}
.f_text{font-size:24px;}

.u_margin{margin-left:240px;}

.img_left{transition:1s;}
.img_left:hover{transform:scale(1.1);}
.img_right{transition:1s;}
.img_right:hover{transform:scale(1.1);}
.img_right_left{transition:1s;}
.img_right_left:hover{transform:scale(1.1);}
.img_right_right{transition:1s;}
.img_right_right:hover{transform:scale(1.1);}

.floor-4_left{
    width:250px;height:481px;
    background-color:#e8e8e8;
}
.floor_4_text{
    position: relative;
    top:-380px;left:40px;
}
.floor_4_right{
    position: relative;
    top:-30px;left:0px; 
    width:100%;height:30px;
    background-color:rgba(0,0,0,.5)
}
.floor_4_text_right{
    position: relative;
    top:-485px;left:150px; 
}
.imgs_4_left{margin-top:290px;}
.fool_4_right1{width:100%;height:40px;background-color:#e8e8e8;}

.floor_3_imgs{display:block !important;}
.floor-imgs{
    position:fixed;
    top:225px;left:0px;
}